<h1>Game</h1>
<h2>Players</h2>
<!-- <span *ngFor="let player of (players$ | async)">{{ player.getName() }}</span> -->

<skipbo-pile [cards]="cards"></skipbo-pile>
<button (click)="add()">add</button>
<div>CurrentPlayer:{{ game.currentPlayer }} <button (click)="game.nextPlayer()">next</button></div>

<h2>Board</h2>
<h3>Building Piles</h3>
<div>Deck has {{ game.deck.count }} cards. Next card to draw: {{ game.deck.peek() }}</div>
<button (click)="lastCard = drawFromDeck()">draw</button> Last Card Drawn{{ lastCard }}
<button (click)="game.deck.shuffle()">shuffle</button>

<h3>Building Piles</h3>
<div *ngFor="let pile of game.buildingGroup">
  Pile: {{ pile.cards | async }}
  <hr />
</div>

<button (click)="addRandomCard()">add random card</button>

<h2>Player</h2>
<div *ngFor="let player of players">
  <h3>Name</h3>
  {{ player.name }}

  <h3>Actions</h3>
  <button (click)="player.fillHand()">fillHand</button>
  <button (click)="player.placeStockCard()">placeStockCard</button>
  <button (click)="player.placeHandCard()">placeHandCard</button>
  <button (click)="player.placeDiscardCard()">placeDiscardCard</button>
  <button (click)="player.discardHandCard()">discard</button>

  <h3>Hand Cards</h3>
  Count: {{ player.hand.count }}<br />
  {{ player.hand.cards }}

  <h3>Stock Cards</h3>
  Count: {{ player.stock.count }}<br />
  Top Card: {{ player.stock.top }}

  <h3>Discard Pile</h3>
  <div *ngFor="let pile of player.discardGroup">
    Pile: {{ pile.cards | async }}
    <hr />
  </div>
  <hr />
</div>

<button (click)="addPlayer()">add player</button> Discard Pile + Stock Pile + Hand Card
