:host {
  display: block;
  perspective: 1000px;

  width: 139px;
  height: 221px;
}

.card {
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 139px;
  height: 221px;
}

.card__back, .card__front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__back {
  background-image: url("/assets/images/card-back.png");
  transform: rotateY(180deg);
}

.card__front {
  background-image: url("/assets/images/card-01.png");
  z-index: 2;
	transform: rotateY(0deg);
}